[buildout]
parts = django omlette mezzanine-themes
unzip = true
versions = versions

[versions]
Django = 1.6.5
psycopg2 = 2.5.3
Mezzanine = 3.1.9
dj-database-url = 0.3.0
Pillow = 2.5.1
html5lib = 0.999

[django]
recipe = djangorecipe
project = project
eggs =
     Mezzanine
     psycopg2
     python-memcached
     south
     dj-database-url
     Pillow
     html5lib

wsgi = false
settings = development
extra-paths = ${buildout:directory}/project/apps
              ${buildout:directory}/project
              ${mezzanine-themes:location}

[omlette]
recipe = collective.recipe.omelette
eggs = ${django:eggs}

[mezzanine-themes]
recipe = zerokspot.recipe.git
repository = https://github.com/renyi/mezzanine-themes.git
